! -*- bgp -*-
!
! BGPd sample configuration file
!
! $Id: bgpd.conf.sample,v 1.1 2002/12/13 20:15:29 paul Exp $
!
hostname bgpd
password zebra
log file /home/colin/git/frr/bgpd/bgplog.log
debug bgpsec
!enable password please-set-at-here
!
!
router bgp 7675
  bgp router-id 10.0.0.1
    network 10.0.0.0/8
    neighbor 10.0.0.2 remote-as 7675
    neighbor 10.0.0.2 capability bgpsec send ipv4
    neighbor 10.0.0.2 capability bgpsec send ipv6
    neighbor 10.0.0.2 capability bgpsec receive ipv4
    neighbor 10.0.0.2 capability bgpsec receive ipv6
!
! address-family ipv4 unicast
!  neighbor 10.0.0.2 route-map set-nexthop out
!  neighbor 10.0.0.2 next-hop-self
! exit-address-family
!
! access-list all permit any
!
!route-map set-nexthop permit 10
! match ip address all
! set ip next-hop 10.0.0.1
!
!log file bgpd.log
!
